:root {
    --animation-dur: 3s;
    --animation-delay: 6s;
}

html {
    height: 100%;
}

input[type='checkbox'] {
    width:30px;
    height:30px;
}

#Checklist {
    font-size: 300%; 
    text-align: center;
    margin-top: 20%;
    position: relative;

}

#Wrap {
    width: 100%;
}

.Header {
    text-align: center;
    opacity: 0;
    vertical-align: middle;
    font-size: 300%; 
    color: blue;
    animation-name: example;
    animation-duration: var(--animation-dur);
    animation-delay: var(--animation-delay);
    animation-iteration-count: infinite;
}

.Header2 {
    text-align: center;
    opacity: 0;
    vertical-align: middle;
    font-size: 300%; 
    color: red;
    animation-name: example4;
    animation-duration: var(--animation-dur);
    animation-delay: var(--animation-delay);
    animation-iteration-count: infinite;
}

.HeaderDiv {
    width: 50%;
    opacity: 0;
    background-color: red;
    position: absolute;
    animation-name: example2;
    animation-duration: var(--animation-dur);
    animation-delay: var(--animation-delay);
    animation-iteration-count: infinite;
    float: left;
}

.HeaderDiv2 {
    width: 50%;
    opacity: 0;
    background-color: red;
    position: absolute;
    animation-name: example3;
    animation-duration: var(--animation-dur);
    animation-delay: var(--animation-delay);
    animation-iteration-count: infinite;
    float: left;
}

.Image {
    border: none;
    display: block;
    margin: 0 auto;
}

.PuntZak1 {
    width: 50%;
    opacity: 0;
    animation-name: PuntZakLeft;
    animation-duration: var(--animation-dur);
    animation-delay: var(--animation-delay);
    animation-iteration-count: infinite;
    position: absolute;
}

.PuntZak2 {
    width: 50%;
    opacity: 0;
    animation-name: PuntZakRight;
    animation-duration: var(--animation-dur);
    animation-delay: var(--animation-delay);
    animation-iteration-count: infinite;
    position: absolute;
}

.HeaderDivOff {
    
}

.HeaderOff {
    text-align: center; 
    font-size: 200%;
}

.PuntZakOff {
    opacity: 0;
    height: 0px;
}
@keyframes example {
    0%   {background-color:red; color: blue; opacity: 100;}
    25%  {background-color:yellow; color: green;}
    50%  {background-color:blue; color: red;}
    75%  {background-color:green; color: yellow;}
    100% {background-color:red; color: blue; opacity: 100;}
  }

@keyframes example2 {
    0%   {background-color:red; color: blue; left: 0px; top: 15px; opacity: 100;}
    25%  {background-color:yellow; color: green; left: 50%; top: 15px;}
    50%  {background-color:blue; color: red; left: 50%; top: 80%;}
    75%  {background-color:green; color: yellow; left: 0px; top: 80%;}
    100% {background-color:red; color: blue; left: 0px; top: 15px; opacity: 100;}
}

@keyframes PuntZakLeft {
    0%      {left: 0px; top: 50%; opacity: 100;}
    25%     {left: 0px; top: 0px;}
    50%     {left: 50%; top: 0px;}
    75%     {left: 50%; top: 50%;}
    100%    {left: 0px; top: 50%; opacity: 100;}
}

@keyframes example3 {
    0%   {background-color:blue; color: red; left: 50%; top: 80%; opacity: 100;}
    25%  {background-color:green; color: yellow; left: 0px; top: 80%;}
    50%  {background-color:red; color: blue; left: 0px; top: 15px;}
    75%  {background-color:yellow; color: green; left: 50%; top: 15px;}
    100% {background-color:blue; color: red; left: 50%; top: 80%; opacity: 100;}
}

@keyframes example4 {
    0%   {background-color:blue; color: red; opacity: 100;}
    25%  {background-color:green; color: yellow;}
    50%  {background-color:red; color: blue;}
    75%  {background-color:yellow; color: green;}
    100% {background-color:blue; color: red; opacity: 100;}
  }

@keyframes PuntZakRight {
    0%      {left: 50%; top: 0px; opacity: 100;}
    25%     {left: 50%; top: 50%;}
    50%     {left: 0px; top: 50%;}
    75%     {left: 0px; top: 0px;}
    100%    {left: 50%; top: 0px; opacity: 100;}
}